.p5Canvas{
	display: block;
	margin:auto;
}

h1 {
	font-size: 24pt;
	text-align: CENTER;
	background-color: black;
	color: white;
}

h3 {
	font-family: 'Comfortaa', cursive;
	font-size: 2rem;
	text-align: CENTER;
}

p {
	margin:5%;
	font-family: 'times';
	font-size: 5rem;
	text-align: CENTER;
}

#gen {
	width:100px;
	height:50px;
}

#genDiv {
	display:block;
}